#head {
  color: white;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  margin: 20px;
}

#index {
  background: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?auto=format&fit=crop&w=752&q=80');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#rules {
  background: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?auto=format&fit=crop&w=752&q=80');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#baseDesign {
  background: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?auto=format&fit=crop&w=752&q=80');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#guide {
  background: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?auto=format&fit=crop&w=752&q=80');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#points {
  font-size: 20px;
}

.body {
  margin-top: 10px;
}

p {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}

#description {
  margin-top: 10px;
  color: white;
  height: 100%;
}

.baseDesign {
  width: 95%;
  margin-top: 10px;
}

.designs {
  margin-top: 50px;
}

.footer {
  background-color: #565667;
  text-align: center;
}